# --- Seguridad ---
.env
*.env
secrets.json

# --- Python & Backend ---
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# --- Node/Frontend ---
node_modules/
dist/
build/
npm-debug.log*

# --- Archivos del Sistema ---
.DS_Store
Thumbs.db

# --- Datos y Multimedia (Para que el repo no sea pesado) ---
*.jpg
*.jpeg
*.mp4
*.csv
*.ini
# NO bloqueamos .txt para permitir requirements.txt
!frontend/src/img/*.png
# --- Carpetas de Datos de Tesis ---
/dataset/
/Jersey-Prediccion/debug_*/
/Jersey-Prediccion/fotos_vacas/
/uploads/

# --- Modelos de IA ---
# Solo comenta estas líneas si decides usar Git LFS o subirlos manualmente.
# Si los archivos .pt están dentro de tu carpeta 'app', asegúrate de que se suban.
# *.pt 
# *.pth